# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Others
checkTests/
a.out
*.swp
release
debug
bench
*/exe
*/bench
*/*.out
profile
